.home-header {
	display: table;
	width: 100%;
	padding: 0 0 30px;
	.img-wrapper, .text-wrapper {
		display: table-cell;
		vertical-align: top;
	}
	.img-wrapper {
		width: 25%;
	}
	.text-wrapper {
		text-align: left;
		width: 75%;
		padding-left: 16px;
	}
	h1	{
		font-size: 3em;
		line-height: 1;
		margin-bottom: .25em;
		padding-bottom: .25em;
		border-bottom: solid 1px;
	}
	h2	{
		margin: 0 auto .5em;
		font-size: 2em;
	}
}

.section {
	margin: 0 auto 2em;
	h2 {
		font-size: 1.75em;
		font-weight: 700;
	}
}


.label	{
	font-weight: 700;
}

.contact-info {
	display: inline-block;
	padding-right: 16px;
}

@media screen and (max-width:600px) {
	body {
		padding: 1em;
	}
	.site-title {
		font-size: 5vw;
		text-align: center;
	}
	.virtual-page {
		margin: 0 auto;
	}
	.home-header {
		h1 {
			font-size: 2.5em;
		}
		.img-wrapper, .text-wrapper {
			display: block;
			padding: 0;
			width: 100%;
		}
		.img-wrapper {
			margin-bottom: 1em;
			text-align: center;
		}
	}
	.section h2 {
		border-bottom: solid 1px;
	}
	.section li h2 {
		border-bottom: none;
	}
	.post-link {
		font-size: 18px;
	}
	.contact-info .label {
		display: block;
	}
	.site-nav {
		display: none;
	}
}