<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    <div class='virtual-page'>
        <header class='home-header'>
            <div class='img-wrapper'><img src={{ "/images/profile.jpeg" | prepend: site.baseurl }} alt='Matthew Higgins'></div>
            <div class='text-wrapper'>
                <h1>Matthew Higgins</h1>
                <h2>Software generalist. Avid coffee drinker. Sometimes runner. <a href='/about'>Learn more</a>.</h2>

                <span class='contact-info'><span class='label'>Email:</span> <a href="mailto:{{ site.email }}">{{ site.email }}</a></span>
                <span class='contact-info'><span class='label'>GitHub:</span> <a href="https://github.com/{{ site.github_username }}">{{  site.github_username }}</a></span>
                <span class='contact-info'><span class='label'>LinkedIn: <a href='https://www.linkedin.com/in/matthewalanhiggins/'>View Profile</a></span></span>
            </div>
        </header>
        <div class="wrapper">
            {{ content }}
        </div>

        {% include footer.html %}
    </div>

</body>

</html>
