<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    <div class='virtual-page'>
        <header class='home-header'>
            <div class='img-wrapper'><img src={{ "/images/profile.jpeg" | prepend: site.baseurl }} alt='Matthew Higgins'></div>
            <div class='text-wrapper'>
                <h1>Matthew Higgins</h1>
                <h2>Web Developer</h2>
                <span class='contact-info'><span class='label'>Email:</span> {{ site.email }}</span>
                <span class='contact-info'><span class='label'>GitHub:</span> {{  site.github_username }}</span>
            </div>
        </header>
        <div class="wrapper">
            {{ content }}
        </div>

        {% include footer.html %}
    </div>

</body>

</html>
